# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env

# VSCode settings (optional)
.vscode/

# macOS system files (optional)
.DS_Store
